/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  line-height: 1.6;
  font-weight: 200;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* Navigation Styles */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5%;
  background-color: #973131;
  color: #fff;
  font-weight: 300;
}

.logo img {
  height: 50px;
}

.nav-menu {
  display: flex;
  list-style: none;
}

.nav-menu li {
  margin-left: 2rem;
}

.nav-menu li a {
  color: #F9D689;
  text-decoration: none;
  font-size: 1.1rem;
  transition: color 0.3s; 
}

.nav-menu li a:hover {
  color: #fff;
}

/* Styles for Hamburger Menu */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  height: 3px;
  width: 25px;
  background: #F9D689;
  margin: 4px 0;
}

/* Slogan Section */
.slogan {
  text-align: center;
  padding: 1rem 5%;
}

.slogan h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

.slogan .primary {
  font-family: 'Ephesis', cursive;
  font-size: 2.5rem;
  color: #973131;
}

/* Protein Categories (Card Style) */
.protein-categories {
  padding: 1rem 5%;
  display: flex;
  justify-content: space-around;
  background-color: #F8F8F8;
}

.card-container {
  display: flex;
  gap: 1rem;
}

.category-card {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
  overflow: visible;
}

.image-container {
  position: relative;
}


.image-container {
  width: 307px;
  height: 419px;   
  overflow: hidden; 
  position: relative;
}

.zoom-image {
  position: absolute; 
  top: 0;            
  left: 0;           
  width: auto;      
  height: auto;      
  min-width: 100%;   
  min-height: 100%;  
  transform: scale(1.5);
}

.image-container img {
  width: 100%;    
  height: 100%;   
  object-fit: cover; 
  object-position: top left; 
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(249, 214, 137, 0.25); 
  opacity: 0; 
  transition: opacity 0.3s ease; 
}

.category-card:hover .overlay {
  opacity: 1; 
}

.category-title {
  background-color: #F9D689;
  color: #000000;
  padding: 0.5rem 2.5rem;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 35px);
  z-index: 10;
}

.category-card .category-title {
  background-color: #F9D689;
  color: #000000;
  padding: 0.5rem 2.5rem;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translate(-50%, 35px);
  font-size: 1.25rem;
  z-index: 10;
}

/* Other Categories (Circular Images) */
.other-categories {
  padding: 2rem 5%;
  display: flex;
  justify-content: center;
  position: relative;
  overflow: hidden;
}

.other-categories::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 50%;
  background-color: #f9f9f9;
  z-index: -1;
}

.circle-container {
  display: flex;
  justify-content: space-around;
  gap: 10rem;
}

.category-circle {
  text-align: center;
}

.category-circle img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  transition: transform 0.3s; 
}

.category-circle img:hover {
  transform: scale(1.1); 
}

.category-circle p {
  margin-top: 0.5rem;
  font-weight: bold;
}

/* Search Section */
.search-section {
  text-align: center;
  padding: 1rem 5%;
}

.input-container {
  position: relative; 
  display: inline-block; 
}

.search-section input {
  padding-left: 2.5rem; 
  padding-right: 2.5rem;
  font-size: 1rem;
  width: 350px;
  height: 40px;
  border: 0.5px solid #ccc; 
  border-radius: 0; 
  box-shadow: 
    inset 0 3px 0 #ccc,  
    inset -1px 0 0 #ccc, 
    inset 1px 0 0 #ccc;  
  transition: border-color 0.3s; 
}

.search-section input:focus {
  border-color: #973131; 
}

.search-icon {
  position: absolute; 
  top: 50%; 
  left: 10px; 
  transform: translateY(-50%); 
  color: #aaa; 
}

.clear-icon {
  position: absolute; 
  top: 50%; 
  right: 10px; 
  transform: translateY(-50%); 
  color: #aaa; 
  cursor: pointer; 
  display: none; 
}

.clear-icon:hover {
  color: rgb(134, 3, 3); 
}

.search-section span {
  margin: 0 1rem;
  font-size: 2.2rem;
  color: #666;
}

.bold-font {
  font-weight: 500;
}

.search-section button {
  padding: 1.5rem 1.5rem;
  font-size: 1rem;
  background-color: #973131;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s; 
}

.search-section button:hover {
  background-color: #a83838;; 
}

/* Blog Section */
.blog-section {
  padding-top: 1rem;
  padding-bottom: 0;
}

.blog-section .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

/* Latest Recipes and Diet Tips Columns */
.latest-recipes, .diet-tips {
  flex: 1;
  display: flex; 
  flex-direction: column; 
  justify-content: center; 
  align-items: center; 
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 0px;
  padding-bottom: 20px;
}

/* Headings */
.latest-recipes h2, .diet-tips h2 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
  font-weight: 600;
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  padding-top: 20px;
}

/* Blog Item Structure */
.blog-item {
  display: flex;
  margin-bottom: 1rem;
  width: 100%;
  max-width: 600px;
}

.blog-content h3 {
  font-size: 1.2rem;
  font-weight: 600;
}

.blog-content p {
  margin: 0.5rem 0;
  font-size: 1rem;
  color: #000000;
  max-width: 380px;
}

.blog-content a {
  font-size: 1rem;
  color: #973131;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s; 
}

.blog-content a:hover {
  color: #a83838; 
  text-decoration: underline;
}

hr {
  border: 0;
  clear: both;
  display: block;
  width: 100%;               
  background-color: #dcdcd8;
  height: 1px;
  margin-bottom: 1rem;
}

.image-container {
  position: relative;
  width: 240px; 
  height: 240px; 
  overflow: hidden;
  margin-right: 14px;
}

.image-container #recipe-1 {
  position: absolute; 
  top: 50%; 
  left: 50%; 
  transform: translate(-70%, -50%); 
  width: auto; 
  height: 100%; 
}

.image-container #diet-tip-1 {
  position: absolute;
  bottom: 0; 
  left: 50%;
  transform: translate(-50%, 0); 
  height: auto; 
  width: auto; 
  max-width: 100%; 
  max-height: none; 
}

.blog-section button,
#blog-recipes-button {
  margin-top: 2rem;
}

.diet-tips {
  background-color: #F5E7B2;
}

.latest-recipes {
  background-color: #f4f4f4;
}

#blog-recipes-button {
  display: block;
  margin: 0 auto;
  padding: 1.5rem 1.5rem;
  font-size: 1rem;
  background-color: #F9D689;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px;
  transition: background-color 0.3s; /* Transition effect */
}

#blog-recipes-button:hover {
  background-color: #f4c96d; /* Change background on hover */
}

.diet-tips button {
  margin: 0 auto;
  padding: 1.5rem 1.5rem;
  font-size: 1rem;
  background-color: #973131;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 200px; 
  transition: background-color 0.3s; /* Transition effect */
}

.diet-tips button:hover {
  background-color: #a83838; 
}

/* Ebook Section Structure */
.ebook-section {
  padding: 1rem 0%;
  background-color: #393939; 
}

.ebook-container {
  display: flex;
  align-items: center; 
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.ebook-image img {
  max-width: 100%; 
  height: auto;
  transition: transform 0.3s; 
}

.ebook-image img:hover {
  transform: scale(1.05); 
}

.ebook-details {
  margin-left: 20px; 
  margin-right: 20px;
  text-align: center; 
  max-width: 60%;
  color: #f4f4f4;
}

.dont-miss {
  font-size: 3rem; 
  margin-bottom: 10px;
  font-family: 'Ephesis', cursive;
  font-weight: 100;
  color: #F9D689;
}

.book-title {
  font-size: 3rem; 
  margin-bottom: 10px;
}

.book-description {
  margin-bottom: 20px; 
}

.ebook-form {
  display: flex;
  justify-content: center; 
}

.ebook-form input {
  padding: 10px;
  margin-right: 10px; 
  border: 1px solid #ccc; 
}

.ebook-form button {
  padding: 10px 15px;
  background-color: #973131;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s; 
}

.ebook-form button:hover {
  background-color: #a83838; 
}

.footer-section {
  background-color: #ffffff; 
  color: rgb(0, 0, 0);
  padding: 1rem 5%; 
}

.footer-container {
  display: flex;
  justify-content: space-between; 
  align-items: flex-start; 
  margin-bottom: 100px;
  flex-wrap: wrap;
}

.footer-logo img {
  max-width: 100%; 
  height: auto;
}

.footer-links {
  display: flex;
  flex-direction: row; 
  justify-content: space-between; 
}

.footer-links div {
  margin-right: 40px; 
}

.footer-container h4 {
  margin-bottom: 5px; 
}

.footer-recipes a,
.footer-about a {
  color: #353535; 
  text-decoration: none; 
  transition: color 0.3s; 
}

.footer-recipes a:hover,
.footer-about a:hover {
  text-decoration: underline;
  color: #973131; 
}

.footer-copyright {
  text-align: left; 
  padding-top: 10px; 
  font-size: 0.9rem; 
  color: #353535; 
}

/* === Archive Recipe Post=== */
.featured-recipe {
  padding: 3rem 5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #f9f9f9;
  margin-bottom: 2rem;
}

/* Container for left and right sides */
.featured-recipe .container {
  display: flex;
  gap: 2rem;
}

/* Left Side - Featured Recipe Image and Name */
.left-side-featured-recipe {
  text-align: center;
}

.featured-recipe-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.25rem;
}

.featured-label {
  font-size: 1.25rem;
  font-weight: 500;
  color: #727272;
  margin-bottom: 0;
}

.recipe-name {
  font-size: 1.5rem;
  color: #973131;
  font-weight: 400;
  margin-top: 0;
}

/* Right Side - Breadcrumb, Category Title, and Description */
.right-side-featured-recipe {
  flex: 1;
}

.breadcrumb {
  margin-bottom: 1rem;
}

.breadcrumb ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5rem;
}

.breadcrumb li {
  display: inline;
}

.breadcrumb ul li:last-child {
  font-weight: 400; 
  color: #973131;    
  cursor: default;   
}

.breadcrumb a {
  text-decoration: none;
  color: #727272;
  font-size: 0.9rem;
}

.breadcrumb li::after {
  content: ">";
  margin-left: 0.5rem;
  color: #333;
}

.breadcrumb li:last-child::after {
  content: "";
}

.category-title-recipe-archive {
  font-size: 2rem;
  font-weight: 800;
  color: #333;
  margin-bottom: 0.5rem;
}

.category-description {
  font-size: 1rem;
  color: #0c0c0c;
  line-height: 1.5;
  font-weight: 300;
  max-width: 600px;
}

/* archive section */

.recipe-archive {
  padding: 2rem 5%;
  background-color: #ffffff;
}

.recipe-item {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  justify-content: center;
}

.recipe-image {
  width: 300px; 
  height: 250px; 
  overflow: hidden; 
}

.recipe-image img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
}

.recipe-details {
  margin-left: 20px;
}

.recipe-details h3 {
  margin-bottom: 0rem;
}

.recipe-details p {
  margin-bottom: 1rem;
  font-weight: 400;
  font-size: small;
}

.recipe-details .paragraph-recipe-archive {
  margin-bottom: 0.5rem;
  max-width: 600px;
  padding-bottom: 1.25rem;
  font-weight: 200;
  font-size: medium;
  color: #000000;
}

.rating {
  font-size: 1rem; 
  color: #F9D689;
}

.read-more {
  text-decoration: none;
  color: #973131; 
  font-weight: bold;
}

.read-more:hover {
  text-decoration: underline;
}

hr {
  border: 0;
  height: 1px;
  background-color: #dcdcdc;
  margin: 1rem 0;
}

/* Pagination */

.pagination {
  display: flex;
  align-items: center;
  justify-content: center; 
  padding: 1rem;
}

.pagination-arrow {
  background-color: #dcdcdc;
  color: #ffffff;
  width: 35px; 
  height: 35px; 
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0 5px;
}



.pagination-numbers {
  display: flex;
  align-items: flex-start;
}

.number-box {
  background-color: #ffffff;
  color: #000;
  width: 35px; 
  height: 35px; 
  display: flex;
  justify-content: flex-start; 
  align-items: flex-start; 
  margin: 0 2px; 
  font-size: 0.7rem; 
  font-weight: 400;
  padding-left: 0.2rem;
  border: 0.5px solid #ccc; 
}

/* Single */

.margin-top {
  margin-top: 1.5rem;
}

.content-wrapper-single {
  max-width: 65%;
  padding: 0rem 5%;
}

.blog-title {
  font-size: 2.5rem;
  color: #973131;
  margin-bottom: 0.5rem;
}

/* Rating Styles */
.rating {
  font-size: 1.2rem;
  color: #727272;
  margin-bottom: 1rem;
}

.blog-description {
  font-size: 1rem;
  color: #000000;
  font-style: italic;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.jump-to-howto {
  background-color: #f0f0f0;
  padding: 1rem;
  text-align: center;
  position: relative;
  margin: 1.5rem 0;
  margin-bottom: 0;
}

.jump-to-howto .arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #973131;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.jump-to-howto p {
  margin: 0;
  font-weight: 600;
}

/* Blog Description */

.how-to-wrapper {
  max-width: 65%; 
  padding: 0.5rem 5%; 
  background-color: #fff; 
  
}

.video-placeholder-single img {
  width: 100%;
  height: auto;
}

.video-placeholder-single p {
  font-size: 2rem;
  font-weight: 500;
}

.image-container-single {
  width: 100%;
  height: 500px; 
  overflow: hidden;
}

.image-container-single.small-image-container {
  width: 100%;
  height: 400px; 
  overflow: hidden;
}

.image-container-single.centered-image-placeholder {
  display: flex;
  align-items: center;
}

.image-container-single img {
  max-width: 100%;
  height: auto;
}


/* How to Make Section */
.how-to-header {
  font-size: 2rem;
  color: #000000;
  margin-top: 2rem;
}

.how-to-wrapper p.margin-top-med {
  margin-top: 2rem;
  color: #000;
  font-weight: 300;
}

.how-to-wrapper p {
  margin: 1rem 0;
  color: #000;
  font-weight: 300;
}




/* Important Notes Section */
.how-to-wrapper h4 {
  font-size: 1.2rem;
  color: #333;
  margin-top: 2rem;
}

.how-to-wrapper h3 {
  margin-top: 1.5rem;
  font-size: 1.2rem;
  color: #333;
}

/* Comments Section */
.comments-wrapper {
  padding: 0rem 5%;
  margin-top: 2rem; 
  margin-bottom: 2rem;
}

.comments-section {
  margin-bottom: 3rem;
}

.comments-section textarea::placeholder {
  color: #888;    
  font-size: 14px;  
  opacity: 1;  
  padding: 1rem 2%;
}

textarea {
  width: 70%; 
  height: 100px; 
  margin-bottom: 0.30rem; 
}

.sample-comments {
  margin-bottom: 2rem;
}

.comment {
  display: flex; 
  align-items: center; 
  margin-bottom: 0.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.sample-comments span {
  color: #000000;
  font-weight: 300;
}

.comment-prof-pic {
  width: 100px; 
  height: 100px; 
  border-radius: 50%; 
  overflow: hidden; 
  display: flex; 
  align-items: center; 
  justify-content: center;
  margin-right: 2rem; 
  margin-left: 2rem;
}

.comment-prof-pic img {
  width: 100%; 
  height: 100%; 
  object-fit: cover; 
  object-position: center;
}

.comment-button.load-more-comments {
  margin: 0 auto; 
  display: block;
  width: 200px;
}

.comment-button {
  display: block;
  padding: 0.5rem 0.15rem;
  font-size: 0.80rem;
  background-color: #973131;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 120px;
  transition: background-color 0.3s;
}

.comment-button:hover {
  background-color: #a83838; 
}


/* Sidebar Styles */
.sidebar {
  float: right;
  width: 20%;
  margin-top: 20px;
  padding-left: 20px;
}

.sidebar h3 {
  font-size: 1.5rem;
  color: #973131;
  margin-bottom: 0.5rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar ul li {
  margin-bottom: 0.5rem;
}

/* Note at the Bottom */
.note {
  font-style: italic;
  color: #000000;
  margin-top: 10px;
}

/* Clearfix for Sidebar */
body::after {
  content: '';
  display: table;
  clear: both;
}
